body p {color:black;
		font-size:18px;
		line-height:130%;
		font-weight:300;}
    
body {max-width:1200px;
		margin-right:auto;
		margin-left:auto;
		overflow-x:hidden;
		font-family:'museo-sans-condensed';}

#kicker h2 {font-family:'museo-sans-condensed';
			margin-left:auto;
			margin-right:auto;
			text-align:center;
			background-color:#ffa500;
			clear:both;}
		
#container-fluid {padding-left:3%;
		padding-right:3%;}
		
.advert iframe {margin-left:auto;
			margin-right:auto;
			text-align:center;
			display:block;}

#livestream {margin-left:auto;
			margin-right:auto;
			text-align:center;
			display:block;}

body a {font-weight:600;
		color:#4C7DAE;}

header ul {margin-left:auto;
			margin-right:auto;}

header li a {color:#808080;
				font-weight:400;
				font-size:16;}

section {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

h1 {text-align:center;
	font-weight:900;
	font-size:6em;
	text-transform:uppercase;
	line-height:90%;
	margin-top:4%;
	font-family:'museo-sans-condensed';}

#player {margin-top:4%;}

#player h4 {margin-top:0;
			padding-top:0;
			text-transform:uppercase;
			font-weight:700;
			font-family:'museo-sans-condensed';
			font-size:2em;}

#player img {margin-right:10%;}

@media screen and (max-width:767px)
{#player img {padding-bottom:5%;}}

#preview {margin-bottom:5%;
			text-align:center;
			margin-top:5%;}

#preview h4 {margin-top:0;
			padding-top:0;
			text-transform:uppercase;
			font-weight:700;
			font-family:'museo-sans-condensed';
			font-size:2em;}

#vignette {margin-top:4%;}

#vignette h4 {margin-top:2%;
			padding-top:0;
			text-transform:uppercase;
			font-weight:700;
			font-family:'museo-sans-condensed';
			font-size:1.5em;}

#media h4 {margin-top:2%;
			padding-top:0;
			text-transform:uppercase;
			font-weight:700;
			font-family:'museo-sans-condensed';
			font-size:1.5em;}

#deck {margin-top:0%;
		text-align:center;}

#deck p {font-size:1.65em;
			font-weight:500;}

#smalldeck {margin-top:3%;
		text-align:center;}

#smalldeck p {font-size:1.3em;
			font-weight:300;}

#nav {margin-top:0%;}

#nav p {font-size:1.5em;
			font-weight:500;}

#teaser {margin-top:2%;
			margin-bottom:5%;
			text-align:center;}

#teaser p {font-size:2em;
			font-weight:500;}

@media screen and (max-width:400px)
{#deck p {font-size:1.5em;}
#teaser p {font-size:1.5em;}}

#date h3 {font-family:'museo-sans-condensed';
		font-size:1.5em;
		color:gray;
		text-align:center;}
			
#clock {margin-right:auto;
		margin-left:auto;
		text-align:center;
		display:block;}

@media screen and (max-width:400px)
{#clock {width:280px;}}
			
			
	
@media screen and (min-width:331px) and (max-width:410px)
{h1 {font-size:3.5em;}}

@media screen and (max-width:330px)
{h1 {font-size:2.5em;}}

.vimeo {padding-top:5%;
		padding-bottom:4%;
		margin-left:auto;
		margin-right:auto;
		display:block;
		text-align:center;}

@media screen and (min-width:845px) and (max-width:1050px)
	{.vimeo iframe {width:680px;
	 				height:384px;}}

@media screen and (min-width:768px) and (max-width:830px)
	{.vimeo iframe {width:537px;
						height:302px;}
	.map iframe {width:400px;
					height:275px;}}

@media screen and (min-width:521px) and (max-width:767px)
{.map iframe {width:500px;
				height:300px;
				margin-left:auto;
				margin-right:auto;
				text-align:center;
				display:block;}}
						
@media screen and (max-width:520px)
{.map iframe {width:280px;
				height:200px;
				margin-left:auto;
				margin-right:auto;
				text-align:center;
				display:block;
				margin-bottom:10%;}}

@media screen and (max-width:570px)
{.vimeo iframe {display:none;}}

@media screen and (min-width:571px)
{.smalllivestream iframe {display:none;}}

@media screen and (max-width:570px)
{.smalllivestream iframe {display:block;}}

.firstcharacter { float: left; color: #2357DD; font-size: 75px; line-height: 60px; padding-top: 4px; padding-right: 8px; padding-left: 3px;}

#credits p {font-size:1.2em;}

#credits h4 {font-weight:600;
				font-family:'museo-sans-condensed';
				text-transform:uppercase;}

#credits {margin-bottom:5%;}

@media screen and (max-width:767px)
{#frontpages {display:none;}}

 /* Custom "shareline" quote */
    .custom-tweet-button a {
        display: block;
        background: url('http://www.trbimg.com/img-5196b275/turbine/la-tweet-blue-bird-logo-20130517/40x40') 1px center no-repeat;
        margin: 20px 0 0 0;
        padding: 0 0 0 40px; 
        font-size: 16px;
        height: 30px;
        cursor: pointer;}
    .share-quote:hover {cursor:pointer;}
    .share-quote:hover a {text-decoration:underline;}
    
    .quote {font-size:24px; 
       			width:245px; 
       			padding: 20px 20px 20px 25px; 
       			margin: 10px 0px 10px 20px; 
       			border-top: 3px solid #e2e2e2; 
       			border-bottom: 3px solid #e2e2e2; 
       			background: url(http://www.latimes.com/media/graphic/2011-07/63504926.png) no-repeat 0 22px;
       			line-height: 1.3em;
       			border-left:none;}

footer p {font-size:14px;}

.fb-comments, .fb-comments > span[style], .fb_iframe_widget iframe[style] { width: 100% !important; }

.social {margin-left:auto;
				margin-right:auto;
				text-align:center;
				margin-bottom:5%;}

.social img {display:inline;
				width:50px;}

#data-table-container .county {width:5%;}
#data-table-container .rank {width:5%;}
#data-table-container .name {width:15%;}
#data-table-container .pos {width:5%;}
#data-table-container .school {width:15%;}
#data-table-container .commit {width:15%;}
#data-table-container .offers {width:40%;}


#data-table-container {font-size:1.1em;
						color:black;}

@media screen and (max-width:700px)
{#data-table-container {font-size:1em;
						color:black;}}

@media screen and (max-width:700px)
{#data-table-container .county {width:20%;}
	#data-table-container .rank {width:10%;}
	#data-table-container .name {width:20%;}
	#data-table-container .pos {width:10%;}
	#data-table-container .school {width:20%;}
	#data-table-container .commit {width:20%;}}

.dataTables_length {
	width: 40%;
	float: left;
}

@media screen and (max-width:815px)
{.dataTables_length {width:50%;}}

.dataTables_filter {
	width: 50%;
	float: right;
	text-align: right;
}

@media screen and (max-width:500px)
{.dataTables_filter {clear:both;
					width:50%;
					float:left;}}

.dataTables_info {
	width: 60%;
	float: left;
}

.dataTables_paginate {
	float: right;
	text-align: right;
	margin-top:0%;
}

#megaboard {margin-top:6%;
			clear:both;
			margin-bottom:15%;}

@media screen and (max-width:700px)
{#megaboard {margin-bottom:25%;}}

#media img {margin-bottom:10%;}

#journeycredit {margin-top:5%;}

#journeycredit p {text-align:center;}

#colleges {margin:0;}

@media screen and (max-width:767px)
{#colleges img {width:150px;}}

@media screen and (max-width:400px)
{#colleges img {width:100px;}}

#collegesmodule {margin-top:10%;
					margin-bottom: 10%;}

#lastbio p {margin-bottom:20%;}
